---
colors:
  - bluesaur: 17A2B8
  - planti: 7FC24E
  - silver: 78909C
  - darks: 343A40
  - blue: 007bff
  - red: ec2224
  - orange: fd7e14
  - green: 28a745
  - jellow: ffc107
  - guaya: ff5f72
  - purple: 6f42c1
  - gris2: 455A64
  - tomato: CB2027

layout: default
permalink: /style
---
<div class="container" style="margin-top:5em;">

  <div class="card-columns">
    <ul>
    {% for color in page.colors %}
      {% for hash in color %}
      <div class="card">
        <div class="card-body" style="background-color:#{{ hash[1] }};">
          <h4 class="card-title">{{ hash[0] }}</h4>
          <p>#{{ hash[1] }}</p>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </ul>
  </div>

</div>
