<section class="homesection bg-huertito-silver" id="features">

  {% if include.show %}

  {% for feature in site.features %}
  <div class="row py-3">

    <div class="offset-md-2 col-md-3">
      <img src="{{ feature.image }}" class="img-fluid rounded">
    </div>
    <div class="col-md-5">
      <h3 class="text-white text-capitalize">{{ feature.title }}</h3>
      <p>{{ feature }}</p>
    </div>

  </div>
  {% endfor %}

  {% else %}
    <h1>Features</h1>
    <p>
      Para mostrar esta sección es necesario agregar una collection
      <code>features</code> a <code>_config.yml</code>
    </p>
    <p>
      Los archivos <code>.md</code> en esta collection deben tener el siguiente
      frontmatter:
{% highlight markdown %}
---
image: http://example.com/image.jpg
title: Feature 1
---
{% endhighlight %}
    </p>
  {% endif %}

</section>
