<footer class="footer container-fluid pt-4 pb-2 text-white bg-huertito-darks" id="footer" style="z-index:1;position:relative;">

  <div class="row">
    <div class="col-sm-8">
      <h2>{{ site.title | escape }}</h2>
      <p>{{ site.description | escape }}</p>
      <p>{{ site.love }}</p>
    </div>

    <div class="col">
      <h3>Contacto:</h3>
      <ul class="list-unstyled pl-2">
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}"><span class="icon icon--twitter">{% include mail.svg %}</span>{{ site.email }}</a></li>
        {% endif %}
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="list-inline small m-0 mb-2">
        {% if site.footer_sections.faq %}
        <li class="list-inline-item ml-3"><a href="/faq">FAQ</a></li>
        {% endif %}
        {% if site.footer_sections.mediakit %}
        <li class="list-inline-item ml-3"><a href="/mediakit">Press & Media kit</a></li>
        {% endif %}
        {% if site.footer_sections.respect %}
        <li class="list-inline-item ml-3"><a href="/respect">ty gg gj</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

</footer>

<script>
	var scroll = new SmoothScroll('a[href*="#"]', {offset: 45});
</script>
