<footer class="footer container-fluid py-4 text-white bg-huertito-darks" id="footer" style="z-index:1;position:relative;">

  <div class="row">
    <div class="col-sm-8">
      <h2>{{ site.title | escape }}</h2>
      <p>{{ site.description | escape }}</p>
      <p>{{ site.love }}</p>
      {% for element in site.pages %}
        {% if element.permalink == "/respect/" %}
        <p><small>Made possible thanks to <a href="{% link opensource.md %}">these</a> projects</small></p>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col">
      <h3>Contacto:</h3>
      <ul class="list-unstyled pl-2">
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}"><span class="icon icon--twitter">{% include mail.svg %}</span>{{ site.email }}</a></li>
        {% endif %}
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

</footer>

<script>
	var scroll = new SmoothScroll('a[href*="#"]', {offset: 45});
</script>
