<section class="homesection bg-huertito-bluesaur" id="pricing">
  <div class="row">
    <div class="col">
      <img src="{{ site.kickstarter_image }}" width="70%" class="rounded">
    </div>
    <div class="col text-center d-flex flex-column justify-content-center mx-3 p-3">
      <h3 class="text-white text-shadow">Ahora en Kickstarter!</h3>
      <p class="text-white">
        Si te gustaría tener tu propio Huertito® puedes apoyarnos en Kickstarter.
        <br>Todas tus aportaciones nos ayudan a hacer este proyecto realidad y si alcanzamos nuestros
        stretch goals podremos desarrollar más versiones de Huertitos a las que tendrás acceso pronto.
        <br><img src="https://d3mlfyygrfdi2i.cloudfront.net/kickstarter-logo-light.png" width="70%">
      </p>
      <button type="button" class="btn btn-blue">¡Apoyanos en Kickstarter!</button>
    </div>
  </div>
</section>
