  {% if include.show %}

<section>
  <div class="contentstitle">
    <div class="row bg-huertito-gray">
      <div class="col">
        <h1 class="text-center">¿Qué incluye Huertito?</h1>
      </div>
    </div>
  </div>
  {% for element in site.kitcontents %}
  <div class="homesection {% cycle 'bg-huertito-gray', 'bg-huertito-darks text-white' %} content {% cycle 'content-1','content-2','content-3' %}">
    <div class="row">
      <div class="col">
        <h1 class="text-center">{{ element.title }}</h1>
        <div class="text-center">{{ element }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img class="img-fluid rounded mx-auto d-block" src="{{ element.image }}" alt="Contenido">
      </div>
    </div>
  </div>
  {% endfor %}
</section>


{% endif %}
