{% if include.show %}
{% for element in site.kitcontents %}
<section class="homesection {% cycle 'bg-huertito-gray', 'bg-huertito-darks' %}" id="content">
  <div class="row">
    <div class="col">
      <h1 class="text-center">{{ element.title }}</h1>
      <p class="text-center">{{ element }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class="img-fluid rounded mx-auto d-block" src="{{ element.image }}" alt="Contenido">
    </div>
  </div>
</section>
{% endfor %}
{% else %}
<section class="homesection bg-huertito-gray" id="content">
  <h1>Contenido del kit</h1>
  <p>Para mostrar esta sección es necesario agregar una collection
  <code>kitcontents</code> a <code>_config.yml</code></p>
</section>
{% endif %}
