<section class="homesection bg-huertito-silver">

  {% if include.show %}

  <div class="card-deck">
    {% for feature in site.otherfeatures %}
    <div class="card border-0 my-2">
      <img class="card-img-top mt-3 mx-auto rounded-circle" src="{{ feature.image }}" style="width: 60%"  alt="{{ feature.title }}">
      <div class="card-body">
        <h4 class="card-title text-center">{{ feature.title }}</h4>
        <p class="card-text text-center text-muted">{{ feature }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <h1>Other Features</h1>
  <p>Para mostrar esta sección es necesario agregar una collection
  <code>otherfeatures</code> a <code>_config.yml</code></p>
  <p>
    Los archivos <code>.md</code> en esta collection deben tener el siguiente
    frontmatter:
{% highlight markdown %}
---
image: http://example.com/image.jpg
title: Feature 1
---
{% endhighlight %}
  </p>
  {% endif %}

</section>
