{% if include.show %}

<section class="homesection bg-huertito-silver">

  <div class="card-deck">
    {% for feature in site.otherfeatures %}
    <div class="card border-0 my-2">
      <img class="card-img-top mt-3 mx-auto rounded-circle" src="{{ feature.image }}" style="width: 60%"  alt="{{ feature.title }}">
      <div class="card-body">
        <h4 class="card-title text-center">{{ feature.title }}</h4>
        <p class="card-text text-center text-muted">{{ feature }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</section>

{% endif %}
