<section class="homesection bg-huertito-bluesaur" id="pricing">

  {% if include.show and site.kickstarter == false %}

  <div class="row justify-content-center">
    <div class="col">
      <h1 class="text-center text-white text-shadow">¡Quiero mi Huertito!</h1>
    </div>
  </div>

  <div class="card-deck">
    {% for plan in site.pricing %}
    <div class="card pricingplan {{ plan.class }} my-2">

      <div class="card-body">
        <h2 class="card-title text-center">{{ plan.price | money ":MXN" }}</h2>
        <h3 class="card-card-subtitle text-center">{{ plan.planname }}</h3>
        <hr>
        <div class="card-text">
          {{ plan }}
        </div>
      </div>

      <div class="card-footer text-center">
        <a href="#" class="card-link">Comprar</a>
      </div>

    </div>
    {% endfor %}
  </div>

  {% else %}
  <h1>Pricing</h1>
  <p>Para mostrar esta sección es necesario agregar una collection
  <code>pricing</code> a <code>_config.yml</code></p>
  <p>
    Los archivos <code>.md</code> en esta collection deben tener el siguiente
    frontmatter:
{% highlight markdown %}
---
class: huertitosingle
price: 1000.00
planname: un huertito
---
{% endhighlight %}
  </p>

  {% endif %}

</section>
