<header id="home" class="homeheader">

  <div class="container-fluid banner">
    <div class="row" style="height:100%;">

      <div class="col-md-5 ml-md-auto d-flex flex-column align-items-center">

        <div class="logo p-5" style="margin-top:30%;">
          <h1>Huertito</h1>
        </div>
        <div>
          <a data-scroll class="btn btn-lg btn-primary text-white" href="#pricing">¡Quiero Huertito!</a>
        </div>
        <div class="mt-auto mb-5">
          <a data-scroll class="btn btn-lg" href="#features"><img class="animated rubberBand" style="width:2em;height:2em;" src="{{ "/assets/images/chevron-bottom.svg" | relative_url }}"></a>
        </div>

      </div>

    </div>
  </div>

</header>
