blockquote.chat {
  $user-background: #B6F26B;
  $huertito-background: $white;
  $read-width: 2rem;

  background-color: rgba($white, .5);
  border-radius: $spacer;
  padding-top: $spacer/2 0;
  padding-bottom: $spacer;
  display: flex;
  flex-direction: column;

  p {
    border-radius: $spacer;
    padding: $spacer/2 $spacer;
    margin: $spacer*0.75;
    display: flex;
    max-width: 70%;
  }

  .user:before, .huertito:after {
    color: darken(theme-color(secondary),10%);
    font-size: 0.75 * $spacer;
    content: "Read";
    width: $read-width;
    margin-left: -1.5*$spacer;
  }

  .user:before, .huertito:after {
    position: relative;
    display: inline-block;
    align-self: flex-start;
  }

  .user:after, .huertito:before {
    position: relative;
    display: inline-block;
    align-self: flex-end;
    top: 2*$spacer;
  }

  .user {
    background-color: $user-background;
    align-self: flex-end;

    &:before {
      text-align: right;
      left: -1*$read-width;
    }

    &:after {
      content: chattail($user-background);
      margin-left: -2rem;
    }
  }

  .huertito {
    background-color: $huertito-background;
    align-self: flex-start;

    &:after {
      left: 3*$spacer;
    }

    &:before {
      content: chattailback($huertito-background);
      margin-right: -1.5rem;
    }
  }

}
