blockquote.chat {
  background-color: rgba(#fff, .5);
  border-radius: $spacer;
  padding-top: $spacer/2 0;
  display: flex;
  flex-direction: column;

  p {
    border-radius: $spacer;
    padding: $spacer/2 $spacer;
    margin: $spacer/2;
    display: flex;
    flex-direction: row;
  }

  .user, .huertito {
    &:before, &:after {
      font-size: 30%;
      color: darken(theme-color(secondary),10%);
      align-self: flex-end;
      position: absolute;
    }
  }

  .user {
    $user-background: #B6F26B;
    background-color: $user-background;
    text-align: right;
    align-self: flex-end;

    &:before {
      content: "Read";
      margin-left: -3*$spacer;
    }

    &:after {
      margin-right: 3.5*$spacer;
      content: chattail($user-background);
      margin-top: 1.5*$spacer;
      margin-left: -1*$spacer;
    }
  }

  .huertito {
    background-color: white;
    align-self: flex-start;
    &:after {
      content: "Read";
      margin-left: $spacer;
    }
    &:before {
      margin-right: 3.5*$spacer;
      content: chattailback(white);
      margin-top: 1.5*$spacer;
      margin-left: -1*$spacer;
    }
  }


}
