// Colores Huertito

$gris: rgb(77, 83, 87);
$gris2: rgb(64, 69, 69);
$grisclaro: rgb(209, 212, 211);
$verde: rgb(122, 184, 0);
$luchuga: rgb(190, 214, 0);
$rojo: rgb(198, 12, 48);
$cafe: rgb(179, 153, 93);
$cafe2: rgb(156, 100, 9);

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800,

  // Colores Huertito
  gris: $gris,
  gris2: $gris2,
  grisclaro: $grisclaro,
  verde: $verde,
  luchuga: $luchuga,
  rojo: $rojo,
  cafe: $cafe,
  cafe2: $cafe2

);
