@import "images/textura";
@import "images/user-circle";
@import "images/tail";
@import "images/navigationarrows";
// url('data:image/svg+xml;utf8, ... ')

$jumbotron: relative_url("/assets/images/jumbotron.svg");
$logo-animado: relative_url("/assets/images/huertito-logo-animado.svg");
$logo-web: relative_url("/assets/images/huertito-logo-web.svg");
$textura-pricing1: relative_url("/assets/images/spiration-light.png");
$textura-pricing2: relative_url("/assets/images/pattern_congruent_pentagon.png");
$textura-pricing3: relative_url("/assets/images/pattern_sayagata-400px.png");
