@import "huertitovariables";
// Las texturas e imagenes se importan en assets/main.scss

main, footer {
  background-color: color(white);
}

.homesection {
  padding: $spacer*2 $spacer*4 $spacer*2 $spacer*4;
}

@mixin logo-svg($animado: true) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @if $animado {
      background-image: $logo-animado;
    }
    @else {
      background-image: $logo-web;
    }

    h1, span {
      visibility: hidden;
    }
  }

a{
  &.logo {
      @include logo-svg(false);
  }
}

.page {
  margin-top: 4em;
}

header.homeheader {
  height: 95vh;
  .banner {
    background-image: $jumbotron;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .logo {
      @include logo-svg;
  }
}

.parallax {
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  height: $spacer*8;
  background-size: auto 100%;

  &.backgroundverde {
    background-image: $textura-verde;
  }
  &.backgroundgris {
    background-image: $textura-gris;
  }
}

.pricingplan {
  &.huertitosingle {
    background-image: $textura-pricing1;
  }

  &.huertitodouble {
    background-image: $textura-pricing2;
  }

  &.huertitotriple {
    background-image: $textura-pricing3;
  }
}
