header {
  height: 170px;
}

main, footer {
  background-color: white;
}

main {
  padding-top: 30px;
}

.mainsection {
  padding: 2em 4em 2em 4em;
}

.contactlist {
  list-style: none;
  padding: 0 0 0 1em;
}

.feature {
  padding-top: 15px;
  padding-bottom: 50px;
}

.splash {
  height: 100%;
  position: fixed;
  z-index: -1;
}

.section2 {
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-image: url("/assets/images/cites_skyline.svg");
  background-size: auto 100%;
}

.section2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.section2 span h1 {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.banner {
  background-image: url("/assets/images/jumbotron.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
//  background-attachment: fixed;

  height: 100%;
}

.welcome {
  margin-left: 50%;
  padding-top: 5%;
  position: relative;
//  position: fixed;
}

.welcome .logo {
  background-image: url("/assets/images/huertito-logo-animado.svg");
  background-repeat: no-repeat;
  background-position: center;

  height: 54px;
}

.welcome button {
  margin: 0;
  position: absolute;
  top: 145%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.welcome .logo h1 {
  visibility: hidden;
}

.pricingplans h1 {
  padding: 1em 0 1em 0;
}

.planprice h1, .planprice h3 {
  width: 100%;
}

.plandescription {
  padding: 5px 30px 5px 30px;
}

.huertitosingle, .huertitodouble, .huertitotriple {
  padding: 30px 0px 30px 0px;
  margin-left: 8px;
  margin-right: 8px;
}

.huertitosingle {
  background-image: url("/assets/images/spiration-light.png");
}

.huertitodouble {
  background-image: url("/assets/images/pattern_congruent_pentagon.png");
}

.huertitotriple {
  background-image: url("/assets/images/pattern_sayagata-400px.png");
}

@media screen and (min-width: 737px) {

    header {
      height: 95vh;
    }

    .welcome .logo {
      height: 100px;
    }

    .welcome {
      margin-left: 60%;
      padding-top: 10%;
    }

    .welcome button {
      top: 125%;
    }

}
