<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="container">
      <section class="pitch mainsection">

        <div class="row feature">
          <div class="col text-center">
            <img src="http://lorempixel.com/output/nature-q-c-490-490-1.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col">
            <h3>Feature</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="row feature">
          <div class="col">
            <h3>Feature</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col text-center">
            <img src="http://lorempixel.com/output/nature-q-c-490-490-2.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div>

      </section>

      <section class="section2 mainsection">
        <span><h1 class="text-center display-1">Section 3</h1></span>
      </section>

      <section class="mainsection">
        <div class="row">
          <h1>Section 4</h1>
          <p>Aenean leo orci, aliquam eu urna a, porttitor mattis arcu. Aenean eu ultrices enim. Donec viverra eget justo non euismod. Praesent pellentesque erat lacinia faucibus pulvinar. Quisque gravida quam semper purus posuere luctus. Praesent nec nunc dui. Mauris sit amet gravida ligula. Mauris rhoncus ullamcorper luctus. Sed tincidunt, justo sed porta suscipit, est felis dictum tellus, id molestie ligula diam id nunc. Aliquam faucibus sit amet lorem ut congue. Nulla ex lorem, cursus in mi eget, mollis venenatis est. Vestibulum sed tellus eleifend, interdum ligula in, sollicitudin ligula.</p>
        </div>
      </section>
    </main>
    {{ content }}
    {% include footer.html %}

  </body>

</html>
