---
layout: default
---
{% include splash.html %}
<main class="container-fluid px-0" style="z-index:1;position:relative;">

  {% if site.features %}
    {% assign showfeatures=true %}
  {% endif %}
  {% if site.pricing %}
    {% assign showpricing=true %}
  {% endif %}
  {% if site.otherfeatures %}
    {% assign showofeatures=true %}
  {% endif %}
  {% if site.kitcontents %}
    {% assign showcontents=true %}
  {% endif %}


  {% include features.html show=showfeatures %}
  {% include kitcontent.html show=showcontents %}

  <div class="parallax-planti"></div>

  {% include pricing.html show=showpricing %}

  <div class="parallax-planti"></div>

  {% include otherfeatures.html show=showofeatures %}

  <div class="parallax-bluesaur"></div>

</main>
{{ content }}
